<div class="container mt-4 ">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-8 block" style="
    height: 340px;
    margin-bottom: 28px;
  ">
            
              <div class="form-group">
                <label>User Name</label>
                <input type="text" [(ngModel)]="user_name" required name="user_name" ngModel class="form-control form-control-sm">
              </div>
              <div class="form-group">
                <label>User Mobile No</label>
                <input type="text" [(ngModel)]="user_mobile" required name="user_mobile" ngModel class="form-control form-control-sm">
              </div>
              <div class="form-group">
                <label>Email </label>
                <input type="email" [(ngModel)]="user_email" required name="user_email" ngModel class="form-control form-control-sm">
              </div>
              <!-- <button [disabled]="" class="btn btn-sm btn-primary">Submit</button> -->
              <a  (click)="Submitform()" class="btn btn-sm btn-primary">Submit</a>
            
          </div>
          <div class="col-md-4">
            <div  class="card card-body block j_details">
              <h6>Journy Details</h6>
              <hr>
              <h5 class="text-capitalize"style="color:coral"> {{placeDetails.leaving}} to {{placeDetails.going}} </h5>
              <p> Date & Time : {{travelDate}} & {{travelDetails.depart_time}}</p>
              <p>{{travelDetails.bus_name}}<br>
                  <span>Coach Type : {{travelDetails.coach_type}}  </span>
              </p>
              <p >Seats No : {{seat}}
                <!-- <li style="display:inline;color:coral" *ngFor="let s of journey.seats">{{s}} , </li> -->
               
                
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
